[
{rabbit, [
    {collect_statistics_interval, 5000},
        {disk_free_limit, 100000000},
        {heartbeat, 7200},
        {loopback_users, []},
        {ssl_listeners, [5671]},
        {ssl_options, [
            {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
            {certfile,   "/etc/rabbitmq/server_rabbitmq-users-mis07NMKoXY.local_certificate.pem"},
            {keyfile,    "/etc/rabbitmq/server_rabbitmq-users-mis07NMKoXY.local_key.pem"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true}]}
]},
{mnesia, [
    {dc_dump_limit, 40},
    {dump_log_write_threshold, 50000},
    {no_table_loaders, 20},
    {send_compressed, 9},
    {snmp, true}
]},
{rabbitmq_management, [
    {rates_mode, detailed},
    {listener, [
        {port, 15672},
        {ssl, true},
        {ssl_opts, [
            {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
            {certfile,   "/etc/rabbitmq/server_rabbitmq-users-mis07NMKoXY.local_certificate.pem"},
            {keyfile,    "/etc/rabbitmq/server_rabbitmq-users-mis07NMKoXY.local_key.pem"},
            {verify, verify_none},
            {fail_if_no_peer_cert, false},
            {honor_ecc_order,      true},
            {honor_cipher_order,   true}
        ]}
    ]}
]},
{rabbitmq_email,
    [{client_config, [
        {relay,"smtp.gmail.com"}
    ]},
    {client_sender,"lbakken@server_rabbitmq-users-mis07NMKoXY.local"},
    {email_domains, [
        {<<"server_rabbitmq-users-mis07NMKoXY.local">>, {<<"/">>, <<"email-in">>}}
    ]},
    {email_filter, false},
    {email_from,<<"lbakken@server_rabbitmq-users-mis07NMKoXY.local">>},
    {email_queues, [
        {{<<"/">>, <<"email-out">>}, <<"server_rabbitmq-users-mis07NMKoXY.local">>}
    ]},
    {server_auth,false},
    {server_config, [
        {domain, ".local"},
        {address, {0,0,0,0}},
        {port, 2525},
        {family, inet},
        {protocol, ssl},
        {ranch_opts, #{
                          socket_opts => [
                          {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
                          {certfile,   "/etc/rabbitmq/server_rabbitmq-users-mis07NMKoXY.local_certificate.pem"},
                          {keyfile,    "/etc/rabbitmq/server_rabbitmq-users-mis07NMKoXY.local_key.pem"},
                          {verify, verify_none},
                          {fail_if_no_peer_cert, false}
                          ]
                      }}
    ]},
    {server_starttls,true}
    ]}
    ].
